<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <ion-title>
      Notifikasi
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment color="primary" [(ngModel)]="notif" >
      <ion-segment-button value="0" (click)="selectTab(0)">
        Nilai
      </ion-segment-button>
      <ion-segment-button value="1" (click)="selectTab(1)">
        Absensi
      </ion-segment-button>
      <ion-segment-button value="2" (click)="selectTab(2)">
        Tugas
      </ion-segment-button>
      <div id="slide" class="slide"></div>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="notif">
    <ion-slides #pageSlider
    (ionSlideWillChange)="changeWillSlide($event)">
    <ion-slide>
      <ion-list>
       <ion-card>
        <ion-card-header>
          Line Chart
        </ion-card-header>
        <ion-card-content>
          <canvas #lineCanvas></canvas>
        </ion-card-content>
      </ion-card>
      <ion-item *ngFor= "let data of datanilai">
        <h2>{{data.kategori}}</h2>
        <p>{{data.matpel}}</p>
        <p>Materi: <span>{{data.materi}}</span></p>
        <p>waktu: <span>{{data.waktu}}</span></p>
        <div class="nilai" item-right>
          <h1>{{data.nilai}}</h1>
        </div>
      </ion-item>
    </ion-list>      
  </ion-slide>

  <ion-slide>
   <ion-list >
     <ion-item *ngFor= "let data of dataabsensi">
      <p>{{data.matpel}}</p>
      <p>Materi: <span>{{data.materi}}</span></p>
      <p>waktu: <span>{{data.waktu}}</span></p>
      <ion-note item-right [ngStyle]="{'background-color': data.status === 'Hadir' ? 'green' : data.status === 'Sakit' ? 'orange': data.status === 'Izin' ? 'blue': 'red'}">
        {{data.status}}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-slide>

<ion-slide>
  <ion-list> 
    <ion-item *ngFor= "let data of datatugas">
      <p>{{data.matpel}}</p>
      <p>Materi: <span>{{data.materi}}</span></p>
      <p>Keterangan: <span>{{data.keterangan}}</span></p>
      <p>Deadline: <span>{{data.deadline}}</span></p>
    </ion-item>
  </ion-list>
</ion-slide>
</ion-slides>
</div>
</ion-content>
