page-notifikasi {
	$num-of-notif: 3;

	@mixin notif {
		@for $i from 1 through $num-of-notif {
			&:nth-of-type(#{$i}) {
				&.segment-activated {
					~ .slide {
						left: calc((100% / #{$num-of-notif}) * #{$i - 1});
					}
				}
			}
		}
	}

	.segment-button {
		border: 0 !important;
		@include notif;
	}

	[item-end] {
		margin: -43px 8px 9px 0 !important;
		color:#666;
	}

	.dateabs{
		font-size: 14px !important;
		margin: -35px -80px 20px 0 !important;	
	}
	.tg{
		margin: -74px 8px 9px 0 !important;
		color: #666;	
	}

	.slide {
		background: #fff;
		width: calc(100% / #{$num-of-notif});
		height: 4px;
		position: absolute;
		left: 0;
		top: calc(100% - 4px);
		transition: left 0.3s ease-out;
	}

	.statusabs{
		color: #fff !important;
		padding: 5px;
		width: 80px;
		text-align: center;
		font-size: 16px !important;
	}

	.segment-md-primary .segment-button {
		color: #000;
	}

	.segment-md-primary .segment-button.segment-activated {
		border-color: #80a6cb;
		color: #fff;
		opacity: 1;
	}



}
