page-notifikasi {
	$num-of-notif: 3;

	@mixin notif {
		@for $i from 1 through $num-of-notif {
			&:nth-of-type(#{$i}) {
				&.segment-activated {
					~ .slide {
						left: calc((100% / #{$num-of-notif}) * #{$i - 1});
					}
				}
			}
		}
	}

	.segment-button {
		border: 0 !important;
		@include notif;
	}

	.slide {
		background: #58b1cc;
		width: calc(100% / #{$num-of-notif});
		height: 4px;
		position: absolute;
		left: 0;
		top: calc(100% - 4px);
		transition: left 0.3s ease-out;
	}

	ion-note{
		color: #fff !important;
		padding: 5px;
		width: 60px;
		text-align: center;
	}


}
