page-berita {
	.card-title-md{
		font-size: 2rem;
	}



   #notifications-badge {
            background-color: #f53d3d;
            position: absolute;
            top: -4px;
            right: -5px;
            border-radius: 20%;
            color: #fff;
        }

    .judul{text-align: center;
    }

   .button-md-tombol {
        color: #648aaf !important;
    }
    
}


