page-lihatabsensi {
	.status h1{
        font-size: 40px !important;
        color:green;
    }

    ion-note{
		color: #fff !important;
		padding: 5px;
		width: 80px;
		text-align: center;
		font-size: 16px !important;
	}
}
