<ion-header>
	<ion-navbar color="primary">
		<ion-title>Ubah Password</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<ion-row class="login-form">
		<ion-col>
			<ion-list inset>
				<ion-item>
					<ion-label><ion-icon name="lock"></ion-icon></ion-label>
					<ion-input [(ngModel)]="user.password_lama" placeholder="kata sandi lama" type="{{type}}"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label><ion-icon name="lock"></ion-icon></ion-label>
					<ion-input [(ngModel)]="user.password" placeholder="kata sandi baru" type="{{type}}"></ion-input>
				</ion-item>
				<div *ngIf="!showPass" class="pull-left show-pass" (click)="showPassword()">Tampilkan kata sandi</div>

				<div *ngIf="showPass" class="pull-left show-pass" (click)="showPassword()">Sembunyikan Kata sandi</div>
			</ion-list>
			<button ion-button (click)="ubahpassword()" primary class="login-button">Ubah password</button>
		</ion-col>
	</ion-row>
	
</ion-content>
