page-historybk {
	#notifications-badge {
		background-color: #f53d3d;
		position: absolute;
		top: -4px;
		right: -5px;
		border-radius: 20%;
		color: #fff !important;
	}

	.judul{text-align: center;
	}
}
